@weekly docker-compose --file ~/ruby/docker-compose.jobs.yml run --rm backup
@hourly docker compose --file ~/ruby/docker-compose.jobs.yml run --rm netlify
*/5 * * * * docker compose --file ~/ruby/docker-compose.jobs.yml run --rm qbittorrent
