admin.cdg.dev {
	reverse_proxy portainer:9000
}

books.cdg.dev {
	reverse_proxy calibre:8083
}

files.cdg.dev {
	basicauth /* {
		cdg $2a$14$uA3c7xP0mq3znOnJccO3Geuqqf3di6iDf9aRGrX/R5SuTFVHYvSL2
	}

	file_server browse {
		root /data
		hide hidden/ lost+found/ {$HIDDEN_FILES}
	}
}

share.cdg.dev {
	basicauth /* {
		share $2a$14$l.O2PSff5MeSisbjuVUtsOnafDjLRFMeK7wNWkPqJgeu2j8fodchy
	}

	file_server browse {
		root /data/share/
	}
}

azw3.cdg.dev {
	reverse_proxy azw3:5555
}

plex.cdg.dev {
	reverse_proxy plex:32400
}

public.cdg.dev {
	file_server browse {
		root /data/public
	}
}

radarr.cdg.dev {
	reverse_proxy radarr:7878
}

sonarr.cdg.dev {
	reverse_proxy sonarr:8989
}

overseerr.cdg.dev {
	reverse_proxy overseerr:5055
}
